<HTML> 
<HEAD> 
<TITLE>Buttons page</TITLE>
</HEAD> 
<BODY>
<input type="button" onClick="location='on'"  value="Set the LED on" target="main">
<input type="button" onClick="location='off'" value="Set the LCD off" target="main">


 
<p>
<p>
<p>
<p>
А вот тут мне дали возможность получить этот самый адрес, crusadernn.mooo.com с возможностью динамического обновления DNS.

<!-- begin freedns banner code -->

<form target=_new action=http://freedns.afraid.org/subdomain/edit.php>
<table style="border-style=solid;border-width=1;border-color=black;" width=468 height=60 bgcolor=cccccc><tr><td align=middle>

<table border=0 cellpadding=2 cellspacing=0>
<tr><td align=middle colspan=3><div style="font-family: Verdana, Helvetica;font-size: 13px;color: black;hover: orange;"><a style="font-family: Verdana, Helvetica;font-size: 13px;color: black;hover: orange;" target=_new href=http://freedns.afraid.org/>Free DNS</a> provides easy shared DNS hosting &amp; URL forwarding</div></td></tr>

<tr>
<td align=middle valign=middle><input type=text size=15 name=subdomain value=yourname></td>
<td align=middle valign=middle><select name=edit_domain_id>
<option value=2>strangled.net
<option value=29>mooo.com
<option style="color:red;font-weight:bold;" value=0>Many more available...
</select></td>

<td align=middle valign=middle><input type=submit name=submit value="next &gt;&gt;"></td>
</tr>
</table>

</td></tr></table>
<input type=hidden name=web_panel value=1>
<input type=hidden name=ref value=2691296>
</form>
</BODY>
</HTML>